if TARGET_AM335X_IGEP0034

config SYS_BOARD
	default "igep0034"

config SYS_VENDOR
	default "isee"

config SYS_SOC
	default "am33xx"

config SYS_CONFIG_NAME
	default "am335x_igep0034"

config OTG_AS_HOST
	bool "Select OTG as a HOST"
	default 0
	help
	  Select this option if you want to set the USB0 (OTG) as a host. If you select it the USB1 will not work as a HOST

config HWTEST
	bool "ENABLE HWTEST"
	default false

endif
